    <div class="container">
        <div class="signup-header">
           <div class="row">
                    <h1>登録情報の更新</h1>
            </div>
        </div>
    </div>

    <hr class="signup-border">
    
    <div class="container">

    <%= render 'layouts/flash' %>
    
      <div class="row justify-content-md-center">
        
            <div class="col-10">
              <%= render 'form' %>
            </div>
      </div>
      <div class="row">
        <div class="col text-right"><%= link_to "マイページに戻る", user_path(current_user), class: "btn btn-secondary" %></div>
      </div>
    </div>

    <hr class="signup-border">