    <div class="container">
        <div class="signup-header">
           <div class="row">
                    <h1>ユーザー登録</h1>
            </div>
        </div>
    </div>

    <hr class="signup-border">
    
    <div class="container">

    <%= render 'layouts/flash' %>
    
      <div class="row justify-content-md-center">
        
            <div class="col-10">
              <%= render 'form' %>
            </div>
      </div>
    </div>

    <hr class="signup-border">