<br>
<br>
<br>

<hr class="signup-border">

<br>
<br>
<br>
<br>
<br>

<div class="container">

<%= render 'layouts/flash' %>

  <div class="row">
    <div class="col-8 justify-content-center">
      <h1 class="text-left"><strong>ご購入ありがとうございました！</strong></h1>
      <br>
      <br>
      <h1 class="text-left"><strong>引き続きONK Shoppingをお楽しみ下さい！</strong></h1>
      <br>
      <br>
      <%= link_to "買い物を続ける", products_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>

<hr class="signup-border">

<br>
<br>
<br>