/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 .notice_list{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar_fixed {
  position: sticky;
  top: 60px;
}
.sidebar_content {
  margin-bottom: 100px;
}

.top-image{
  max-width: 100%;
}

.recommend-item{
  margin: 50px auto;
}

.top-content{
  margin-bottom: 100px;
}

.signup-header{
  margin-top: 30px;
  color: #dc3545;
}
.signup-border{
  border-width: 3px;
  border-color: #dc3545;
}
.login-header{
  margin-top: 30px;
  color: lightblue;
}
.login-border{
  border-width: 3px;
  border-color: lightblue;
}
.mypage-header{
  margin-top: 30px;
  color: lightgreen;
}
.mypage-border{
  border-width: 3px;
  border-color: lightgreen;
}

h1{
  font-size: 25px;
    font-weight: bold;
    margin: 0;
  text-align: center;
}
.align-light{
    text-align: right;
}
.form-group{
  margin-bottom: 35px;
}
input:required{
  background: #ffcdd2;
}
input[type="email"]:invalid{
  background: #ffcdd2;
}

input:focus{
  background: #DCEDC8;
}

#error_explanation {
  color: red;
}

#error_explanation ul {
  color: red;
  margin: 0 0 30px 0;
}

.products-box{
  margin-bottom: 30px;
}

.guest-login{
  color: blue;
}

.welcome{
  background-color: #f3a09c;
}

.welcome-message{
  color: #216165;
}

.title{
  font-size: 50px;
}

.gimmick{
  background-color: #216165;
  color: #f3a09c;
}