<footer class="page-footer font-small pt-4" style="background-color: #eae6e4;">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">株式会社オニキ商事</h5>
        <p>「日本の楽しい・美しい・美味しいを届ける」をスローガンに<br>
        ECサイトONK SHOPPINGを運営しています</p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">


      <div class="col-md-3 mb-md-0 mb-3">

      </div>

      <div class="col-md-3 mb-md-0 mb-3">

      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to 'ONK Shopping', root_path %>
  </div>
</footer>
