<header class="blog-header py-3" style="background-color: #eae6e4;">
  <div class="container">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">ONK SHOPPING</a>
      </div>
      <div class="col-8 d-flex justify-content-end align-items-center">
        <% if logged_in? %>
          <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-sm btn-secondary' %>
          <a class="btn btn-sm btn-outline-secondary" href="#">カート</a>
        <% else %>
          <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-sm btn-secondary' %>
          <%= link_to 'ログイン', login_path, class: 'btn btn-sm btn-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</header>

<div class="container nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="#">おみやげ</a>
    <a class="p-2 text-muted" href="#">お取り寄せ</a>
    <a class="p-2 text-muted" href="#">ギフト</a>
    <a class="p-2 text-muted" href="#">トラベル&バッグ</a>
    <a class="p-2 text-muted" href="#">特集一覧</a>
    <a class="p-2 text-muted" href="#">ブランド一覧</a>
    <a class="p-2 text-muted" href="#">商品ジャンル</a>
  </nav>
</div>


<div class="nav-scroller py-1 mb-2" style="background-color: #eae6e4;">
<div class="container">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted justify-content-start">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </a>
    <a class="p-2 text-muted justify-content-end">
      ランキング
    </a>
  </nav>
</div>
</div>